div.note-block {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    position: relative;
    margin: 15px 0;
    &::before {
        content: '💡Note';
        background-color: black;
        color: white;
        padding: 4px 10px;
        border: 1px solid white;
        border-radius: 10px;
        position: absolute;
        top: -20px;
        transform: translateY(25%);
    }
}

.ql-toolbar.ql-snow {
    border-bottom-style:hidden !important;
}

.ql-container, .ql-toolbar{
    border: 1px solid black !important;
}

.ql-editor{
    font-size: 18px;
    height: calc( 100lvh - 205px ) !important;
    font-weight: 500;

    & h1 {
        font-size: larger;
        font-weight: bolder;
    }

    & h2 {
        font-size: 19px;
        font-weight: bold;
    }

    & .note-block {
        font-size: medium;
    }
}

@media only screen and (width < 900px)  {
    .blog-header {
        font-size: 30px !important;
        font-weight: bold;
    }
    
    .ql-editor{
        font-size: 16px;
        font-weight: 500;

        & h1 {
            font-size: 18px;
            font-weight: bold;
        }

        & h2 {
            font-size: 17px;
            font-weight: 600;
        }
    }
}

.read-only-editor .ql-container {
    border: none !important;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
} 

*::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
